/* Import fonts, this is probably incorrect, but it will stay for now. */
@font-face { font-family: Roboto; font-weight: 0 100; src: url('./fonts/Roboto/Roboto-Thin.ttf'); }
@font-face { font-family: Roboto; font-style: normal; src: url('./fonts/Roboto/Roboto-Regular.ttf'); }
@font-face { font-family: Roboto; font-weight: 100 200; src: url('./fonts/Roboto/Roboto-Light.ttf'); }
@font-face { font-family: Roboto; font-weight: 200 300; src: url('./fonts/Roboto/Roboto-Regular.ttf'); }
@font-face { font-family: Roboto; font-weight: 400 500; src: url('./fonts/Roboto/Roboto-Bold.ttf'); } 
@font-face { font-family: Roboto; font-weight: 600 800; src: url('./fonts/Roboto/Roboto-Black.ttf'); } 
@font-face { font-family: Roboto; font-style: italic; src: url('./fonts/Roboto/Roboto-Italic.ttf'); }
@font-face { font-family: Roboto; font-style: bold; src: url('./fonts/Roboto/Roboto-Bold.ttf'); }
@font-face { font-family: Roboto; font-style: bold, italic; src: url('./fonts/Roboto/Roboto-BoldItalic.ttf'); } 

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #555;
    font-family: Roboto;
    font-weight: 401
}

/*-----------------
- Navigation Bar --
-------------------*/
.navigation-bar {
    display: flex;
    background-color: #333;
    padding: 0.25em;
}

.navigation-bar ul {
}

.navigation-bar ul li {
    display: inline;
}

.navigation-bar ul li:last-child {
    background-color: red;
}

.navigation-bar a {
    font-size: 1.25em;
    padding: 0.25em;
    border-radius: 0.25em;
    font-weight: 300;
    color: #ddd;
    background-color: #111;
    text-decoration: none;
}

.navigation-bar a:hover {
    background-color: #222;
}

/* Tickets */
.ticket-container {
    padding: 1rem;
    background-color: #555;
    height: 100%;
}

.ticket {
    width: 25rem;
    min-height: 8rem;
    margin: 0.5rem;
    background-color: green;
    box-shadow: 2px 2px 5px black;
    background: rgb(159,159,159);
    background: linear-gradient(180deg, rgba(159,159,159,1) 0%, rgba(98,98,98,1) 100%);
    opacity: 100%;
}

.ticket-item-mod {
    padding-left: 1em;
}

.ticket-item-cooking {
    color: #a00;
}

.ticket-item-finished {
    color: #0c0;
}

.ticket p {
    font-size: 0.8em;
    font-weight: 500;
    margin-left: 10px;
}

.ticket-title {
    display: flex;
}

ul.ticket-title {
    background: rgb(0,104,255);
    background: linear-gradient(180deg, rgba(0,104,255,0.36458333333333337) 45%, rgba(0,202,255,0) 100%);
}

.ticket-title li {
    overflow: hidden;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding: 2px;
}

.ticket-title li:first-child {
    display: inline;
}

.ticket-title li:last-child {
    justify-content: right;
}