/* Import fonts, this is probably incorrect, but it will stay for now. */
@font-face { font-family: Roboto; font-weight: 0 100; src: url('./fonts/Roboto/Roboto-Thin.ttf'); }
@font-face { font-family: Roboto; font-style: normal; src: url('./fonts/Roboto/Roboto-Regular.ttf'); }
@font-face { font-family: Roboto; font-weight: 100 200; src: url('./fonts/Roboto/Roboto-Light.ttf'); }
@font-face { font-family: Roboto; font-weight: 200 300; src: url('./fonts/Roboto/Roboto-Regular.ttf'); }
@font-face { font-family: Roboto; font-weight: 400 500; src: url('./fonts/Roboto/Roboto-Bold.ttf'); } 
@font-face { font-family: Roboto; font-weight: 600 800; src: url('./fonts/Roboto/Roboto-Black.ttf'); } 
@font-face { font-family: Roboto; font-style: italic; src: url('./fonts/Roboto/Roboto-Italic.ttf'); }
@font-face { font-family: Roboto; font-style: bold; src: url('./fonts/Roboto/Roboto-Bold.ttf'); }
@font-face { font-family: Roboto; font-style: bold, italic; src: url('./fonts/Roboto/Roboto-BoldItalic.ttf'); } 


/*==========
== Global ==
==========*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #eee;
    background-color: #556;
    font-family: Roboto;
    font-weight: 401;
    min-height: 100vh;
    height: 100%;
}

html {
    height: 100%;
}

input {
    font-family: Roboto;
    font-weight: 100;
    border: none;
    border-radius: 3px;
}

input[type=submit] {
    /* box-shadow: inset 1px 1px 1px #fff5; */
    font-size: large;
    background-color: #33f;
    border: solid thin #34f;
    color: #eee;
    padding: 0.25em 0 0.25em;
}

input[type=submit]:hover {
    color: white;
    background-color: #44f;
}

input[type=submit]:active {
    padding: 0.375em 0 0.125em;
}

/*===================
=   Navigation Bar  =
=====================*/
ul.navigation-bar {
    display: flex;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
}

.navigation-bar li {
    display: block;
}

.navigation-bar li:not(:first-child):not(:last-child) {
    margin-left: 3px;
}

.navigation-bar li:last-child {
    margin-left: auto;
}

.navigation-bar a {
    display: block;
    text-decoration: none;
    padding: 0.25em 0.5em;
    border-radius: 3px;
    font-size: 2em;
    font-weight: 300;
    color: #ddd;
    background-color: #111;
}

.navigation-bar a:hover {
    background-color: #222;
}

footer {
    position: fixed;
    bottom: 0;
}

/*===========
=  Tickets  =
=============*/
.ticket-container {
    padding: 1rem;
    background-color: #555;
    height: 100%;
}

.ticket {
    width: 25rem;
    min-height: 8rem;
    margin: 0.5rem;
    background-color: green;
    box-shadow: 2px 2px 5px black;
    background: rgb(159,159,159);
    background: linear-gradient(180deg, rgba(159,159,159,1) 0%, rgba(98,98,98,1) 100%);
    opacity: 100%;
}

.ticket-item-mod {
    padding-left: 1em;
}

.ticket-item-cooking {
    color: #a00;
}

.ticket-item-finished {
    color: #0c0;
}

.ticket p {
    font-size: 0.8em;
    font-weight: 500;
    margin-left: 10px;
}

.ticket-title {
    display: flex;
}

ul.ticket-title {
    background: rgb(0,104,255);
    background: linear-gradient(180deg, rgba(0,104,255,0.36458333333333337) 45%, rgba(0,202,255,0) 100%);
}

.ticket-title li {
    overflow: hidden;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding: 2px;
}

.ticket-title li:first-child {
    display: inline;
}

.ticket-title li:last-child {
    justify-content: right;
}

/*==============
== Login Page ==
================*/

div.login-page {
    display: block;
    margin: 0 auto;
    padding: 0.25em;
    margin-top: 1em;
    height: 20em;
    width: 30em;
    background-color: #223;
    box-shadow: 0px 0px 5px black;
}

.login-page h1 {
    font-weight: bold;
    text-align: center;
    display: block;
    color: white;
    float: none;
    padding-bottom: 0.1em;
    border-bottom: thin solid #444a;
    text-shadow: 1px 1px 5px #111;
}

.login-page form {
    margin-top: 20px;
}

.login-page label {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.login-page input[type=text], .login-page input[type=password] {
    display: block;
    margin: 0 auto 1em auto;
    width: 50%;
}

.login-page input[type=submit] {
    display: block;
    margin: 0 auto;
    width: 25%;
}

/*==============
== Admin Page ==
==============*/

.admin-page {
    background-color: black;
}

.admin-page h1 {
    border-bottom: #0c0;
    color: white;
}